<section class="contact" id="contact">
  <div class="container contact__container">
    <form class="contact__form">
      <h3 class="contact__title">Contact</h3>
      <p class="contact__text">We will answer any question!</p>
      <label class="contact__label">
        <input type="email" class="contact__input" name="contact-mail" placeholder="Email" />
      </label>
      <label class="contact__label">
        <input
          type="comment"
          class="contact__textarea"
          name="contact-comment"
          placeholder="Type your question"
        />
      </label>
      <button type="submit" class="button contact__button">Send</button>
    </form>
    <ul class="soc-list contact__soc-list">
      <li class="contact__pack">
        <a href="#" class="soc-list__link">
          <svg class="soc-list__icon" width="16" height="16">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="contact__pack">
        <a href="#" class="soc-list__link">
          <svg class="soc-list__icon" width="16" height="16">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="contact__pack">
        <a href="#" class="soc-list__link">
          <svg class="soc-list__icon" width="16" height="16">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
