<footer class="footer">
  <div class="container footer__container">
    <address class="footer__address">
      <ul class="footer__item">
        <li>
          <a href="tel:(910)2228855" class="footer__phone">
            <svg class="footer__svg" width="12" height="12">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
            (910)222-8855
          </a>
        </li>
        <li>
          <a
            href="https://www.google.com/maps/place/Нью-Йорк,+Сполучені+Штати+Америки/@42.7247355,-78.0133157,7z/data=!4m13!1m7!3m6!1s0x4ccc4bf0f123a5a9:0xddcfc6c1de189567!2z0J3RjNGOLdCZ0L7RgNC6LCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!3b1!8m2!3d43.2994285!4d-74.2179326!3m4!1s0x4ccc4bf0f123a5a9:0xddcfc6c1de189567!8m2!3d43.2994285!4d-74.2179326"
            class="footer__map"
            target="_blank"
          >
            <svg class="footer__svg" width="12" height="12">
              <use href="./images/icons.svg#icon-map-point"></use>
            </svg>
            New York
          </a>
        </li>
      </ul>
      <a href="./index.html" class="footer__link">
        <img src="./images/footer/footer-link.png" alt="" width="60" height="40" />
      </a>
    </address>
  </div>
</footer>
