<header class="section header">
  <div class="container header__container">
    <nav class="header__nav">
      <a class="header__logo" href="#hero">
        <svg class="logo">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a class="header__nav-link" href="#about-us">About us</a>
        </li>

        <li class="header__nav-item">
          <a class="header__nav-link" href="#program">Program</a>
        </li>

        <li class="header__nav-item">
          <a class="header__nav-link" href="#speakers">Speakers</a>
        </li>

        <li class="header__nav-item">
          <a class="header__nav-link" href="#price">Price</a>
        </li>

        <li class="header__nav-item">
          <a class="header__nav-link" href="#reviews">Reviews</a>
        </li>

        <li class="header__nav-item">
          <a class="header__nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="mob-menu__button-open" type="button">
      <svg class="mob-menu__icon mob-menu__icon--open">
        <use href="./images/icons.svg#icon-menu-burger"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu">
    <nav class="mob-menu__nav container">
      <a class="mob-menu__logo" href="#hero">
        <svg class="logo">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="mob-menu__nav-list">
        <li class="mob-menu__nav-item">
          <a class="mob-menu__nav-link" href="#about-us">About us</a>
        </li>

        <li class="mob-menu__nav-item">
          <a class="mob-menu__nav-link" href="#program">Program</a>
        </li>

        <li class="mob-menu__nav-item">
          <a class="mob-menu__nav-link" href="#speakers">Speakers</a>
        </li>

        <li class="mob-menu__nav-item">
          <a class="mob-menu__nav-link" href="#price">Price</a>
        </li>

        <li class="mob-menu__nav-item">
          <a class="mob-menu__nav-link" href="#reviews">Reviews</a>
        </li>

        <li class="mob-menu__nav-item">
          <a class="mob-menu__nav-link" href="#contact">Contact</a>
        </li>
      </ul>
      <button class="mob-menu__button-close" type="button">
        <svg class="mob-menu__icon mob-menu__icon--close">
          <use href="./images/icons.svg#icon-close-cross"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
