<section class="section hero" id="hero">
  <div class="container hero__container">
    <h1 class="hero-title-text">Donut Masterclass with the Donut King</h1>
    <p class="hero-title__post">Hosted by Eva Green</p>

    <a class="button hero__button" href="#registration"button">Register</a>

    <ul class="soc-list hero__soc-list">
      <li class="soc-list__item">
        <a class="soc-list__link" href="#">
          <svg class="soc-list__icon" width="16" height="16">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="hero__item">
        <a class="soc-list__link" href="#">
          <svg class="soc-list__icon" width="16" height="16">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero__item">
        <a class="soc-list__link" href="#">
          <svg class="soc-list__icon" width="16" height="16">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>

<div class="header__background"></div>
