<section class="reviews" id="reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title">Reviews</h2>
    <div class="reviews-slide">
      <div class="reviews-slide__element">
        <picture>
          <source
            srcset="./images/reviews/john.jpg 1x, ./images/reviews/john.jpg 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="./images/reviews/john.jpg 1x, ./images/reviews/john.jpg 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="./images/reviews/john.jpg 1x, ./images/reviews/john.jpg 2x"
            media="(max-width:767px)"
          />

          <img class="reviews-slide__img" src="./images/reviews/john.jpg" alt="john" width="280" />
        </picture>
        <div class="reviews-slide__rate" rate="4"></div>
        <p class="reviews-slide__name">John</p>
        <p class="reviews-slide__review">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ad nostrum pariatur sequi
          tempora illum incidunt doloribus impedit exercitationem expedita soluta laudantium
          veritatis, perferendis ipsa, molestiae illo saepe qui sunt earum explicabo, facilis facere
          culpa quibusdam dignissimos. Provident neque hic suscipit perferendis? Sint modi quod
          possimus illum sequi porro architecto.
        </p>
      </div>
      <div class="reviews-slide__element">
        <picture>
          <source
            srcset="./images/reviews/will.jpg 1x, ./images/reviews/will.jpg 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="./images/reviews/will.jpg 1x, ./images/reviews/will.jpg 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="./images/reviews/will.jpg 1x, ./images/reviews/will.jpg 2x"
            media="(max-width:767px)"
          />

          <img class="reviews-slide__img" src="./images/reviews/will.jpg" alt="will" width="280" />
        </picture>
        <div class="reviews-slide__rate" rate="5"></div>
        <p class="reviews-slide__name">Will</p>
        <p class="reviews-slide__review">
          Last time I have visited a cooking course by Eva I was impressed with the way she
          explained everything to people. You can be sure you will manage to cook a delicious dish
          even if it is your first time in the kitchen! <br />
          Thank you so much for the masterclass! Looking forward to the next one and highly
          recommend it to everyone!
        </p>
      </div>
      <div class="reviews-slide__element">
        <picture>
          <source
            srcset="./images/reviews/elizbeth.jpg 1x, ./images/reviews/elizbeth.jpg 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="./images/reviews/elizbeth.jpg 1x, ./images/reviews/elizbeth.jpg 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="./images/reviews/elizbeth.jpg 1x, ./images/reviews/elizbeth.jpg 2x"
            media="(max-width:767px)"
          />

          <img
            class="reviews-slide__img"
            src="./images/reviews/elizbeth.jpg"
            alt="elizbeth"
            width="280"
          />
        </picture>
        <div class="reviews-slide__rate" rate="4"></div>
        <p class="reviews-slide__name">Elizabeth</p>
        <p class="reviews-slide__review">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia sit, officiis
          perferendis ipsam aperiam atque consequuntur assumenda quod dolorum iusto reprehenderit
          explicabo magnam adipisci ea quisquam eveniet nihil soluta error!
        </p>
      </div>
      <div class="reviews-slide__element">
        <picture>
          <!-- <source
            srcset="./images/reviews/eva.jpg 1x, ./images/reviews/eva.jpg 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="./images/reviews/eva.jpg 1x, ./images/reviews/eva.jpg 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="./images/reviews/eva.jpg 1x, ./images/reviews/eva.jpg 2x"
            media="(max-width:767px)"
          /> -->

          <img
            class="reviews-slide__img"
            src="./images/reviews/isabella.png"
            alt="eva"
            width="280"
          />
        </picture>
        <div class="reviews-slide__rate" rate="5"></div>
        <p class="reviews-slide__name">Isabella</p>
        <p class="reviews-slide__review">
          I work here and can say that it's the best place to learn cooking donuts!!!
        </p>
      </div>
    </div>
    <span class="slide-number"></span>
  </div>
</section>
