<section class="speakers__section container" id="speakers">
  <div>
    <h2 class="section__title speakers__title animate__animated animate__fadeInUp">Speakers</h2>
    <ul class="speakers">
      <li class="speakers__item animate__animated animate__fadeIn animate__slow	3s animate__delay-2s">
        <picture>
          <source
            srcset="
              ./images/speakers/descktop/molly-rivera-min.png       1x,
              ./images/speakers/descktop/molly-rivera-min2x-min.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/speakers/tablet/molly-rivera-min.png        1x,
              ./images/speakers/tablet/molly-rivera-min@2x-min.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/speakers/mobile/molly-rivera-min.png        1x,
              ./images/speakers/mobile/molly-rivera-min@2x-min.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="speakers__image "
            src="./images/speakers/mobile/molly-rivera-min.png"
            alt="speakers Molly Rivera"
          />
        </picture>
        <h3 class="speakers__name">Molly Rivera</h3>
        <p class="speakers__about">Pastry chef, master chocolatier of Spain</p>
      </li>
      <li class="speakers__item animate__animated animate__fadeIn animate__slow	3s animate__delay-3s">
        <picture>
          <source
            srcset="
              ./images/speakers/descktop/sophia-clark-min.png        1x,
              ./images/speakers/descktop/sophia-clark-min@2x-min.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/speakers/tablet/sophia-clark-min.png        1x,
              ./images/speakers/tablet/sophia-clark-min@2x-min.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/speakers/mobile/sophia-clark-min.png        1x,
              ./images/speakers/mobile/sophia-clark-min@2x-min.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="speakers__image"
            src="./images/speakers/mobile/sophia-clark-min.png"
            alt="speakers Sophia Clark"
          />
        </picture>
        <h3 class="speakers__name">Sophia Clark</h3>
        <p class="speakers__about">Сulinary school pastry chef</p>
      </li>
      <li class="speakers__item animate__animated animate__fadeIn animate__slow	3s animate__delay-4s">
        <picture>
          <source
            srcset="
              ./images/speakers/descktop/isabella-taylor-min.png        1x,
              ./images/speakers/descktop/isabella-taylor-min@2x-min.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/speakers/tablet/isabella-taylor-min.png    1x,
              ./images/speakers/tablet/isabella-taylor@2x-min.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/speakers/descktop/isabella-taylor-min.png  1x,
              ./images/speakers/tablet/isabella-taylor@2x-min.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="speakers__image"
            src="./images/speakers/mobile/isabella-taylor-min.png"
            alt="speakers Isabella Taylor"
          />
        </picture>
        <h3 class="speakers__name">Isabella Taylor</h3>
        <p class="speakers__about">Сonsultant in the art of confectionery</p>
      </li>
      <li class="speakers__item animate__animated animate__fadeIn animate__slow	3s animate__delay-5s">
        <picture>
          <source
            srcset="
              ./images/speakers/descktop/evelyn-miller-min.png        1x,
              ./images/speakers/descktop/evelyn-miller-min@2x-min.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/speakers/tablet/evelyn-miller-min.png        1x,
              ./images/speakers/tablet/evelyn-miller-min@2x-min.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/speakers/mobile/evelyn-miller-min.png        1x,
              ./images/speakers/mobile/evelyn-miller-min@2x-min.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="speakers__image"
            src="./images/speakers/mobile/evelyn-miller-min.png"
            alt="speakers Evelyn Miller"
          />
        </picture>
        <h3 class="speakers__name">Evelyn Miller</h3>
        <p class="speakers__about">Master-chocolatier in Spain</p>
      </li>
    </ul>
  </div>
</section>
