.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 40;
  @media screen and (min-width: 1280px) {
    position: absolute;
  }
}
.header__container {
  position: relative;
  padding-top: 16px;
  @media screen and (min-width: 768px) {
    padding-top: 24px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 36px;
  }
}
.header__background {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 66px;
  transform: translateX(-50%);
  z-index: 2;
  opacity: 0.99;
  background-color: #e5e2e3b1;

  @media screen and (min-width: 768px) {
    height: 70px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.header__logo {
  width: 108px;
  @media screen and (min-width: 768px) {
    width: 106px;
  }
  @media screen and (min-width: 1280px) {
    width: 158px;
  }
}
.header__nav {
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}
.header__nav-list {
  display: none;
  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    margin-left: 55px;
    font-size: 18px;
  }
}
.header__nav-item {
  @media screen and (min-width: 1280px) {
  }
}
.header__nav-link {
  padding: 4px 8px;
  &:hover,
  &:focus-visible {
    color: #fff;
    background: linear-gradient(rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
    box-shadow: 0 7px 27px -2px rgb(253 88 140 / 35%);
  }
}
